@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:wght@100;300;400;700;900&family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Ruthie&display=swap');
*{
    margin: 0;
    padding: 0;
    
}
body{
background-color: rgb(176, 176, 176);
font-family: 'Rubik',sans-serif;
font-size:16px;
}

.qqq{
    display: flex;
    justify-content: center;
     text-align: center;
   background-color: #ffffff;
   width: 300px;
   height: 400px;
   border-radius: 8px;
   margin: 0 auto;
   margin-top:150px;
}
.entrance{
    display: flex;
    justify-content: center;
    margin-top: 35px;
    
  font-weight: 600;
  color: #333333;
  font-size: 28px;

  
}

.loginbox input{
    display: flex;
    margin-top: 25px;
    border:none;
    border-bottom: 1px solid#333333;
    padding-bottom: 5px;
    font-weight: 400;
    width: 230px;

}



.qqq form .btn{
 
    margin-top: 110px;
    margin-bottom: 35px;
  cursor: pointer;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  background-color:#E5261E;
  border:none;
  padding:12px 25px;
  border-radius: 4px;
   transition: all 0.3s ease;
  }

.qqq .btn:hover{
background-color: #CC221B;
  }

.remember{
    display: flex;
    
    margin-top: 25px;
}

.remember input[type=checkbox]{
    margin-right: 6px;
}
input[type="checkbox"]{
     appearance: none;
    width: 16px;
    height: 16px;
    border: 1.2px solid #333333;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
  
    margin: 0;
    
}

input[type="checkbox"]:checked{
    background: url("img/done.svg") no-repeat center center;
    background-size: 11px 9px;

}

  

