@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:wght@100;300;400;700;900&family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Ruthie&display=swap');

*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Rubik',sans-serif;
}
.container{
  width: 1180px;
  height: 120vh;
  background-color: white;
  margin: 0 auto;
  margin-top: 50px;
}

.header
{
  display: flex;
  justify-content: space-between;
    height: 40px;
  background-color: white;
  align-items: center;
}

.header__logo{
  display: flex;
  align-items: center;
}

.header__logo{
font-weight: 600;
  color: black;
  font-size: 20px;
  margin-left: 11.88px;
} 

.header_search_txt{
  width: 320px;
  height: 25px;
  border: none;
  border-bottom: solid 1px #333333;
  color: #333333;
font-weight: 400; 
font-size: 16px;
}

.header_search_txt:focus{
  outline: none;

}

.header_search_txt::placeholder{
font-size: 16px;
color: #828282;
font-weight: 600;
}

.header_search_btn{
  background: none;
  border: none;
  font-size: 16px;
  color: #E5261E;
font-weight: 600;
  margin-left: 32px;
}



.header_auth_btn{
  width: 113px;
  height: 38px;
  color: white;
  background-color: red;
font-weight: 600;
  border: none; 
  border-radius: 10px;
  font-size: 16px;
}

.nav{
  width: 311px;
  margin: 44px auto 32px auto;
  display: flex;
  justify-content: space-between;
  height: 42px;
}

.nav_a{
  font-weight: 600;
  font-size: 28px;
  color: #333333;
  text-decoration: none;
}

.nav_a:hover{
  border-bottom: #E5261E 2px solid;
  padding-bottom: 9px;
  color: #E5261E;
}

.channels_info{
  background-color: #F2F2F2 ;
  height:162px;
  width: 1180px;
  margin-bottom:16px;
}

.name-ch h3{
  margin-top: 21px;
  margin-bottom:17px; 
color:#333333;
font-size:20px;
font-weight: 500px;
}

.time-programm{
  
  font-weight:400px;
  margin-bottom:12px;
}

.channels_info{
  display:flex;
  flex-shrink: 0;
 
  align-items: center;
}
.img-channel{
 text-align: center;
width:400px;
}
.name-ch{
  text-align:left;
  width:700px;
}

.channels{
overflow-y:scroll;
overflow-x: hidden;
height:700px;
}

footer{
   background-color: #f2f2f2;
}
.footer_block{
  display: flex;
  align-items: center;
  height: 120px;
  width: 1180px;
   background-color: #f2f2f2;
}

.footer_img{
  display: flex;
}

.footer_img{
  margin-right: 40px;
}

.footer_info{
  font-family: Rubik,sans-serif;
  font-weight: 400;
  height: 64px;
  width: auto;
}

.footer_info_p{
  margin-bottom: 2.5px;
}
.second_p{
  margin-bottom:10px;
}
.footer_info_a{
  text-decoration: none;
  color:#1F4766;
    font-weight: 500;
}

.empty{
  height:50px;
  
}

.time-programm.active{
  color:#E5261E;
}

@media only screen and (orientation: portrait) and (min-device-width: 390px) and (max-device-height: 844px) and (-webkit-device-pixel-ratio: 3){
    .container{
      
  width: 390px;
  margin: 0 auto;

}
  .header
{
  margin-top:40px;
  flex-direction: column;
  align-items: center;
}
.header__logo{

  margin-bottom: 20px;
}
.header__search{
  display:flex;
  justify-content:space-between;
}
.header_search_txt{
  width:250px;
}
.header_search_btn{
  margin-left: 5px;
}

.header_auth{
  margin-top: 10px;
}
.nav{
  margin-top:130px;   
  height: 42px;
}

.footer_block{
  padding:15px 0;
  flex-direction: column;
  height:150px;
  width:390px;
  
}

.footer_info{
  height:25px;
  margin:0 5px;
}
.footer_info_p{
  margin-bottom: 2px;
}



.channels_info{
  height:230px;
  width: 390px;
  margin-bottom:16px;
  align-items:center;
}

.name-ch h3{
  margin-top: 21px;
  margin-bottom:17px; 
color:#333333;
font-size:20px;
font-weight: 500px;
}

.time-programm{
  
  font-weight:400px;
  margin-bottom:15px;
}

.img-channel{
 text-align: center;
width:400px;
}
.name-ch{
  text-align:left;

}

.channels{
overflow-y:scroll;
overflow-x: hidden;
height:700px;
}


}

